{% extends "base.html" %}
{% block contents %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
        data-bs-target="#load-modal">Import</button>
      </div>
      <div class="text-body">
        {% include 'load.html' %}
      </div>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  
</main>
    {% block scripts %}
    <script src="/static/dashboard.js"></script>
    {% endblock %}
{% endblock %}
