<div class="modal fade" id="load-modal" tabindex="-1" aria-labelledby="loadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadModalLabel">IMPORT DATA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-3">
          {{ modal_messages() }}
          <form method="POST" enctype="multipart/form-data"> 
            {{ form.hidden_tag() }}
            {{ form.data(id="fileToupload", class="form-control" )}}<br>
            {{ form.submit(class='btn btn-primary shadow') }}
          </form>
          <br>
          <br>
          <label for="models">Choose Predicting model</label>
          <select name="models" id="models" form="fileToupload" required>
            <option value="lr">Logistic Regression</option>
            <option value="esm">Esembling Model</option>
          </select>
        </div>
      </div>
    </div>
  </div>